<div class="container">
  <h1 class="text-center">List of all orders</h1>
  <form action="/orders/search">
    <div class="input-group mb-3">
      <input
        type="text"
        class="form-control"
        placeholder="Search"
        aria-describedby="basic-addon2"
        name="search"
      />
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="submit">Search</button>
      </div>
    </div>
  </form>

  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Type</th>
        <th scope="col">Description</th>
        <th scope="col">Price</th>
        <th scope="col">Amount</th>
        <th scope="col">Delivery Status</th>
      </tr>
    </thead>
    <% orders.forEach(order=>{ %>

    <tbody>
      <tr>
        <td><%= order.name %></td>
        <td><%= order.type %></td>
        <td><%= order.description %></td>
        <td><%= order.price %></td>
        <td><%= order.totalAmount %></td>
        <td><%= order.status %></td>
      </tr>

      <% }) %>
    </tbody>
  </table>
</div>
