<div class="container mt-5 overflow-hidden">
  <h2>User Profile</h2>
  <table class="table table-hover table-sm table-properties">
    <tr>
      <th>Name</th>
      <td><%= user.name %></td>
    </tr>

    <tr>
      <th>User Type</th>
      <td><%= user.type %></td>
    </tr>
    <tr>
      <th>Email</th>
      <td><%= user.email %></td>
    </tr>
    <tr>
      <th>Phone number</th>
      <td>
        <%= user.phone %>
        <span class="mx-3"
          ><a
            style="color: #007bff;"
            data-placement="bottom"
            data-html="true"
            data-title="Update phone"
            data-toggle="popover-phone"
            ><i class="fas fa-edit"></i> </a
        ></span>
        <div id="profile-phone" class="d-none">
          <form
            method="POST"
            action="user/profile/phone/<%= user._id %>?_method=PUT"
          >
            <div class="form-row align-items-center">
              <div class="col-auto my-1">
                <label class="sr-only" for="inlineFormInputName">Phone</label>
                <input
                  type="number"
                  class="form-control"
                  placeholder="Phone"
                  name="phone"
                />
              </div>
              <div class="col-auto my-1">
                <button type="submit" class="btn btn-warning">Update</a>
              </div>
            </div>
          </form>
        </div>
      </td>
    </tr>
    <tr>
      <th>Bio</th>
      <td>
        <%= user.bio %>

        <span class="mx-3"
        ><a
          style="color: #007bff;"
          data-placement="bottom"
          data-html="true"
          data-title="Update bio"
          data-toggle="popover-bio"
          ><i class="fas fa-edit"></i> </a
      ></span>
      <div id="profile-bio" class="d-none">
        <form
          method="POST"
          action="user/profile/bio/<%= user._id %>?_method=PUT"
        >
          <div class="form-row align-items-center">
            <div class="col-auto my-1">
              <label class="sr-only" for="inlineFormInputName">Bio</label>
              <input
                type="text"
                class="form-control"
                placeholder="Bio"
                name="bio"
              />
            </div>
            <div class="col-auto my-1">
              <button type="submit" class="btn btn-warning">Update</a>
            </div>
          </div>
        </form>
      </div>
      </td>
    </tr>
  </table>

  <hr class="mb-4"/>
<% if(user.type === "admin"){ %> 
<h2>Management Controls</h2>
  <table class="table table-hover table-sm table-properties">
    <tr>
      <td>  <h5>Change user access level</h5>
      </td>
    </tr>
<tr> 
  <form method="POST" action="/user/access">
  <td>
    <div class="form-group">
      <label for="type">Users</label>
      <select
        class="custom-select mr-sm-2"
        name="id"
        id="inlineFormCustomSelect"
      >
        <option selected>Choose...</option>
        <% users.forEach(u=>{if(user.name!=u.name) {%>
        <option value="<%=u._id %> "
          ><%=u.name %></option
        >

        <% }}) %>
      </select>
    </div>

  </td>
  <td>
    <div class="form-group">
      <label for="type">Access Level</label>
      <select
        class="custom-select mr-sm-2"
        name="access"
        id="inlineFormCustomSelect"
      >
        <option selected>Choose...</option>
       <option value="admin">
         admin
       </option>
       <option value="ServiceUser">
       ServiceUser
      </option>
       <option value="ordermgmtU">
        ordermgmtU
      </option>
      <option value="logisticmgmtU">
        logisticmgmtU
      </option>
      </select>
    </div>
  </td>
  <td>
    <div class="form-group">

    <label for="type">Update Access Level</label>
    <button type="submit" class="btn btn-warning form-control">Update</button>
    </div>
  </td>
</tr>

</form>
<tr>
  <td>
   <h5> Generate Logistic Report</h5>
  </td>
</tr>

<tr>

  <td> <button id="generate-report" class="btn btn-warning form-control">Generate</button></td>
</tr>
  </table>
  <div class="row">
   
        <canvas class="my-4 w-100 chartjs-render-monitor" id="product-profile" width="1053" height="443" style="display: block; height: 355px; width: 843px;"></canvas>
      
      
  </div>
  <% } %> 
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>


