<div class="container">
  <div
    class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
  >
    <h2>Customers</h2>
    <div class="btn-toolbar mb-2 mb-md-0">
      <form action="/customer/search" class="searchform">
        <div class="input-group mb-3">
          <input
            type="text"
            class="form-control"
            placeholder="Search"
            aria-describedby="basic-addon2"
            name="search"
          />
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="submit">
              Search
            </button>
          </div>
        </div>
      </form>
      <div class="btn-group mb-4 px-2"></div>
      <% if(user.type.trim()==="admin"||user.type.trim()==="ordermgmtU"){ %>
      <form method="GET" action="/api/customers/backup">
        <button type="submit" class="btn btn-sm btn-outline-secondary">
          Export
        </button>
        <%}%>
      </form>
    </div>
  </div>
  <div class="table-responsive-md">
    <table
      class="table table-hover table-striped display"
      style="width: 100%;"
      id="customertable"
    >
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Company Name</th>
          <th scope="col">Customer Ph no.</th>
          <th scole="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <% if(customers){ %> <% customers.forEach(customer=>{ %>

        <tr>
          <td><%= customer.CustomerID %></td>
          <td><%= customer.CustomerName %></td>
          <td><%= customer.CustPhone %></td>
          <td class="d-flex justify-content-around">
            <%- include("../Editform",{ url:`/customer/api/${customer._id}` })
            %> <%- include("../deleteForm",{
            url:`/customer/api/${customer._id}?_method=DELETE` }) %>
          </td>
        </tr>

        <% })} %>
      </tbody>
    </table>
  </div>
</div>

<script>
  var searchtext = document.querySelector(".form-control");
  var form = document.querySelector(".searchform");
  form.addEventListener("submit", (e) => {
    if (searchtext.value == "") {
      e.preventDefault();
    }
  });
</script>
