<div class="container">
  <div class="row mb-3">
    <div class="col-xs-6">
      <h4>General Details</h4>
      <div class="d-flex flex-column">
        <td><%= order.name %></td>
        <td><%= order.customer %></td>
        <td><%= order.type %></td>
        <td><%= order.description %></td>
        <td>$<%= order.price %></td>
        <td><%= order.totalAmount %></td>
        <td><%= order.status %></td>
      </div>
    </div>
    <div class="col-md-3"></div>

    <div class="col-md-3"></div>
  </div>
</div>
